main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

img {
    width: 400px;
    height: 600px;
    margin: 10px auto;
}

footer {
    text-align: center;
    padding: 0px 10px 10px;
}