:root {
/* CSS HEX */
--rich-black: #031926ff;
--teal: #468189ff;
--cambridge-blue: #77aca2ff;
--ash-gray: #9dbebbff;
--white: white;
}

.course-title, h3, footer {
    display: block;
    color: var(--white);
}

h4, main p, figcaption {
    color: var(--rich-black);
}

header {
    background-color: var(--cambridge-blue);
    text-align: center;
    max-width: 840px;
    padding: 10px 0px 0px 0px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--rich-black);
    padding: 10px;
}

header nav {
    flex: 1 0 auto;
}

header nav a {
    text-decoration: none;
    text-align: center;
    color: var(--white);
}

nav a:hover {
    background-color: blue;
    color: white;
}

main {
    max-width: 840px;
    display: grid;
    grid-template-columns: 1fr auto;
}

main h1 {
    grid-column: 1/3;
    text-align: center;
    color: var(--rich-black);
}

.card {
    margin: 0px 5px;
    border: 1px solid var(--cambridge-blue);
    padding: 0px;
    border-radius: 10px;
}

section h3 {
    background-color: var(--cambridge-blue);
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    margin-top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

section p {
    padding: 10px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr auto;
}

.profile {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    align-items: center;
}

.me {
    grid-column: 1/3;
    grid-row: 1/2;
}

img {
    width: 90%;
} 

.country {
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
}

.country h4 {
    grid-column: 1/3;
    text-align: center;
    border-bottom: 1px solid var(--teal);
}

.naija {
    grid-column: 1/2;
    display: flex;
    align-items: center;
}

.country p {
    grid-column: 2/3;
}

ul {
    margin-top: 40px;
    padding-right: 10px;
}

footer {
    background-color: var(--cambridge-blue);
    text-align: center;
    max-width: 840px;
    margin: 20px 0px;
    padding: 10px;
}
