:root {
    --british-racing-green: #034732ff;
    --lapis-lazuli: rgb(189, 78, 4);
    --cream: rgb(255, 255, 255);

}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  margin: 0px;
}

header, footer {
    background-color: var(--british-racing-green);
    text-align: center;
    color: var(--cream);
    padding: 10px;
    margin: 0px;
}

.hero img {
    width: 100%;
    height: auto;
    margin: 0px;
}


section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2 {
    grid-column: 1/3;
    text-align: center;
}

section img {
    grid-column: 1/3;
    max-width: 80px;
    display: flex;
    justify-self: center;
}

.label {
    grid-column: 1/2;
    text-align: right;
    font-weight: 500;
    padding-right: 3px;
}

.value {
    grid-column: 2/3;
    text-align: left;
    padding-left: 3px;
}

