body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
}

header, footer {
    background-color: rgba(0, 0, 255, 0.568);
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

section {
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.164);
    border: 5px solid rgba(0, 0, 255, 0.568);
}